@media (min-width:576px) {
    body {
        background: red;
    }
}
@media(min-width:768px){
    body {
        background: blueviolet;
    }
}
@media(min-width:1000px){
    body {
        background:orange;
    }
}